@import "variables";
@import "utils";

body {
  background-color: $bg-main-color;
  color: $secondary_color;
  font-family: $body-font;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  animation: animate 1s ease-in-out normal;
}

.container {
  padding: 1.5rem 0;
  width: 335px;
  background-color: $bg-container;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  header {
    h1 {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      color: $secondary_color;
    }
    span {
      font-size: $font-body-size;
      font-weight: 600;
      color: $primary_color;
    }
  }

  p {
    font-size: $font-body-size;
    color: lighten($links-bg-color, 60%);
  }

  .links {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: $secondary_color;
      background-color: $links-bg-color;
      border-radius: 5px;
      padding: 0.8rem;
      font-size: $font-body-size;
      font-weight: 600;

      &:hover {
        background-color: $primary_color;
        color: $bg-container;
      }
    }
    .github{
      animation: animateLink .3s ease-in;
    }
    .frontend{
      animation: animateLink .5s ease-in;
    }
    .linkedin{
      animation: animateLink .7s ease-in;
    }
    .twitter{
      animation: animateLink 1s ease-in;
    }
    .instagram{
      animation: animateLink 1.2s ease-in;
    }
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateLink{
  0%{
    opacity: 0;
    width: 0;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 370px;
    padding: 2rem 0;

    .links {
      width: 80%;
    }
  }
}
